.recoveryPassword {
    padding: 80px 0;
    &__title {
        text-align: center;
        margin-bottom: 20px;
    }
    &-form {
        padding: 24px 24px 40px;
        border-radius: 8px;
        background: var(--white);
        &__item {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__btn {
            padding: 14px;
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .recoveryPassword {
        padding: 40px 0;
        &__title {
            font-size: 20px;
            margin-bottom: 24px;
        }
        &-form {
            --bs-gutter-x: 20px;
            margin-left: calc(-0.5 * var(--bs-gutter-x));
            margin-right: calc(-0.5 * var(--bs-gutter-x));
            padding: 24px 10px 40px;
            &__item {
                margin-bottom: 16px;
            }
            &__btn {
                font-size: 16px;
                padding: 16px;
            }
        }
    }
}