.brands {
    background: #F6F6F6;
    padding: 100px 0;
    &-list {
        --bs-gutter-y: 24px;
        align-items: center;
        justify-content: space-between;
        
    }
    &-img {
        max-width: 144px;
    }
}

@media (max-width: 991px) {
    .brands {
        &-list {
            justify-content: space-around;
        }
    }
}

@media (max-width: 767px) {
    .brands {
        padding: 32px 0;
        overflow: hidden;
        &-list {
            --bs-gutter-x: 32px;
        }
        &-img {
            max-width: 102px;
        }
    }
}