.enter {
    &-content {
        background: var(--white);
        border-radius: 8px;
        padding: 40px 0 60px;
    }
    &-form {
        &__title {
            font-weight: bold;
            line-height: 160%;
            margin-bottom: 32px;
        }
        &__links {
            max-width: 760px;
            margin-bottom: 16px;
        }
        &__link {
            justify-content: center;
            align-items: center;
            padding: 12px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 8px;
            background: var(--main-2);
            &-icon {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                margin-right: 12px;
            }
        }
        &__group {
            display: flex;
            max-width: 956px;
            &-right {
                width: 172px;
                flex-shrink: 0;
            }
            &-left {
                flex-grow: 1;
                padding-right: 24px;
                padding-top: 2px;
            }
        }
        &__btn {
            width: 100%;
            padding: 14px;
        }
        &__txt {
            display: flex;
            font-size: 14px;
            color: var(--grey);
            span {
                margin-right: 14px;
            }
            a {
                font-weight: 500;
                color: var(--main-5);
            }
        }
        &__fields {
            --bs-gutter-y: 16px;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1199px) {
    .enter {
        &-form {
            &__links {
                max-width: 580px;
            }
        }
    }
}

@media (max-width: 991px) {
    .enter {
        &-content {
            padding: 32px 16px;
        }
        &-form {
            &__links {
                max-width: 100%;
            }
            &__group {
                flex-wrap: wrap;
                &-left {
                    padding-right: 0;
                    width: 100%;
                    margin-bottom: 22px;
                }
                &-right {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .enter {
        padding: 32px 0;
        &-content {
            border-radius: 0;
            padding: 32px 10px;
        }
        &-form {
            &__title {
                font-size: 14px;
                margin-bottom: 12px;
            }
            &__links {
                margin-bottom: 20px;
            }
            &__link {
                padding: 10px 4px;
                font-size: 12px;
                &-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 4px;
                }
            }
            &__txt {
                font-size: 12px;
                margin-top: 6px;
                span {
                    margin-right: 8px;
                }
            }
            &__fields {
                justify-content: space-between;
            }
            &__btn {
                padding: 12px;
                width: 100%;
            }
        }
    }
}