:root {
    --base-ff: 'Roboto';
    --second--ff: 'Rubik One';

    --white: #ffffff;
    --black: #000000;
    --dark: #1F1F1F;
    --grey: #757575; 
    --grey-7: #545454;


    --stroke: #E2E2E2;
    --main-1: #F8F9FC;
    --main-2: #EAECF5;
    --main-5: #717BBC;
    --main-6: #4E5BA6;
    --main-8: #363F72;
    --main-10: #101323;
    --bg: #F6F6F6;
    --dark-hover: #333333;
    --white-hover: #EEEEEE;
    --green-hover: #0B8D8F;
}